header h1.logo img { position:relative; color:transparent; top:1px!important; border:none; }
.nav > li > a > img { max-width:none; border:none; }
.st-banner img { border:none; }
.big-icon img { border:none; }
.course-box img { border:none; }
